/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* ... rest of your custom styles ... */

p {
    text-align: justify
}

.job-header {
  font-size: 1.3rem;
  color: #1c3763;
}

body.quarto-dark .job-header {
  color: #f5a35c;
}