/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* ... rest of your custom styles ... */

p {
    text-align: justify
}